.main-header {
    background-color: var(--color1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rebeccapurple;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title.logo {
    object-fit: fill;
}

.title.logo img:hover {
    cursor: pointer;
}

.cat-btn div:hover {
    color: rgb(155, 142, 151);
    cursor: pointer;
    border-radius: 5px;
}