.canvas-container {
    background-color: rgb(72, 130, 168);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    flex-direction: row;
}

.editor-modal-open {
    display: flex;
    flex-grow: 8;
    background-color: rgb(251, 150, 35);
    left: 0;
    top: 0;
    transition: 0.4s;
}

.close-modal {
    transition: 0.3s;
    display: none;
}

.editor-meme {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.container-1 {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 90px;
    padding-left: 15%;
    justify-items: center;
    align-items: center;
}

.container-2 {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    padding-left: 10px;
    justify-items: center;
    align-items: center;
}

.container-3 {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}


/* .container-1 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-bottom: 10%;
    gap: 20px;
    width: 40%;
}

.container-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
} */


/* .editor-meme {
    flex-grow: 5;
    justify-content: center;
    padding: 50px;
} */

.share-fb.btn-text:hover {
    background-color: #7d8edb;
}

.btn-text {
    height: 60px;
    width: 60px;
}

.btn-text:hover {
    cursor: pointer;
    border: 1px white solid;
    border-radius: 10%;
}

.download-btn {
    width: 100px;
    border-radius: 10%;
    text-align: center;
    text-transform: uppercase;
}

.download-btn a {
    text-decoration: none;
    color: #000;
}

.download-btn:hover {
    background-color: lightpink;
}