.main-header {
    background-color: var(--color1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rebeccapurple;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.title-logo {
    /* object-fit: fill; */
    max-width: 40%;
    max-height: 100%;
}

.title-logo:hover {
    cursor: pointer;
}

.cat-btn div:hover {
    color: rgb(155, 142, 151);
    cursor: pointer;
    border-radius: 5px;
}